
# IDE
.classpath
.project
/bin/
.idea/
*.iml
*.iws


# VSCode
.vscode

# Library
.settings/

# UML
diagrama_clases_UML.ucls
GildedRose_diagrama_clases_UML.png

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


